service:
  host: reg.cjl.com
  # support Ingress,NodePort,LoadBalance.If type is Ingress, ingress is a necessary felid. If type is NodePort, externalPort is a necessary felid.
  type: NodePort
  externalPort: 31000
  ingress:
    # Used to create an Ingress record.
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    tls:
      # Secrets must be manually created in the namespace.
      # - secretName: chart-example-tls
      #   hosts:
      #     - chart-example.local

nginx:
  replicaCount: 1
  image:
    repository: nginx
    tag: 1.11.5
    pullPolicy: IfNotPresent
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

ui:
  replicaCount: 1
  image:
    repository: vmware/harbor-ui
    tag: 0.5.0
    pullPolicy: IfNotPresent
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  # harbor admin default Password is "Harbor12345"
  # adminPassword: "Harbor12345"
  #email_server = smtp.mydomain.com
  #email_server_port = 25
  #email_username = sample_admin@mydomain.com
  #email_password = abc

registry:
  replicaCount: 1
  image:
    repository: registry
    tag: 2.5.0
    pullPolicy: IfNotPresent
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  persistence:
    storageClass: cjl-rbd
    accessMode: ReadWriteOnce
    size: 8Gi

jobservice:
  replicaCount: 1
  image:
    repository: vmware/harbor-jobservice
    tag: 0.5.0
    pullPolicy: IfNotPresent
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  persistence:
    storageClass: cjl-rbd
    accessMode: ReadWriteOnce
    size: 8Gi

mysql:
  replicaCount: 1
  image:
    repository: vmware/harbor-db
    tag: 0.5.0
    pullPolicy: IfNotPresent
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  # mysql root default Password is "root123"
  # rootPassword: "root123"
  persistence:
    storageClass: cjl-rbd
    accessMode: ReadWriteOnce
    size: 8Gi
